<!DOCTYPE html>
<html>
      <head>
           <title>Maram Shehadeh BackEnd Task4</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>
      <body>
        
        <footer>
   
      <p class="footer-p">copyright &COPY; 2024 maram shehadeh, good company. all rights</p>
      <hr class="footer-hr">
  

</footer>

          
      </body>
</html>